:root {
  font-family: 'Open Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #616161;

  color-scheme: light dark;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1{
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  color: #000000;
}